body {
    background-color: ivory;
    color: darkblue;
    margin: 10px 50px;
}

.heading {
    font-family: "Oswald", serif;
}

p {
    font-family: "Open Sans", serif;
    font-size: 16px;
}
img {
    float: left;
    width: 100px;
    height: 100px;
}

#navigation-bar {
    overflow: hidden;
    margin: 0px auto;
    width: 750px;
}
#navigation-bar li {
    list-style: none;
    padding: 14px 16px;
    float: left;
}
#navigation-bar a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.left-section,
.right-section,
.middle-section {
    width: 300px;
    padding: 1em;
}
